<h1>{{title}}</h1>
<h2>My Heroes</h2>
<ul class="heroes">
<li *ngFor="#hero of heroes" 
    (click)="onSelect(hero)"
    [class.selected]="hero === selectedHero">
    <span class="badge">{{hero.id}}</span> {{hero.name}}
</li>
</ul>
<div>
    <input #heroName type="text" 
        (keyup.enter)="addHero(heroName.value); heroName.value = '';" 
        (blur)="addHero(heroName.value); heroName.value = '';" />
    <button (click)="addHero(heroName.value)">Add Hero</button>
</div>
<!--<my-hero-detail [hero]="selectedHero"></my-hero-detail>-->
<div *ngIf="selectedHero">
    <hero-form [hero]="selectedHero"></hero-form>
</div>
<br/>
<div>Template string dynamic result of 1 + 1: ${1+1}</div>